<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>HashGen</title>
    </h:head>
    <h:body>
        <form action="GenerujHash" method="post">
            <label>Provide string to generate hash</label>
            <input type="text" name="inputString"></input><br />
            <input type="submit" value="Generate"></input>
        </form>
        <form action="WyswietlHashe" method="post">
            <input type="submit" value="View"></input>
        </form>
    </h:body>
</html>

